In [11]:

has_passed = True

if has_passed:
    print("Student passed the exam!")
else:
    print("Student failed.")



  # Challenge 1:
number = int(input("Enter a number: "))

# Boolean logic: a number is even if number % 2 == 0
is_even = (number % 2 == 0)

if is_even:
    print(f"{number} is Even")
else:
    print(f"{number} is Odd")

Student passed the exam!
Enter a number: 2
2 is Even

In [12]:
marks = 85
total_marks = 100
percentage = (marks / total_marks) * 100

print(round(percentage))
print(abs(-5))
print(pow(2, 3))



num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum_result = num1 + num2
average = (num1 + num2) / 2
product = num1 * num2

print("Sum:", sum_result)
print("Average:", average)
print("Product:", product)

85
5
8
Enter first number: 12
Enter second number: 12
Sum: 24.0
Average: 12.0
Product: 144.0

In [13]:
first_name = "Ali"
last_name = "Raza"
full_name = first_name + " " + last_name

print(full_name.upper())
print(full_name.lower())
print(len(full_name))
print(full_name[0:3])



from datetime import datetime

date1 = input("Enter first date (YYYY-MM-DD): ")
date2 = input("Enter second date (YYYY-MM-DD): ")

# Convert strings to date objects
d1 = datetime.strptime(date1, "%Y-%m-%d")
d2 = datetime.strptime(date2, "%Y-%m-%d")

difference = abs((d2 - d1).days)

print("Number of days between the two dates:", difference)

ALI RAZA
ali raza
8
Ali
Enter first date (YYYY-MM-DD): 2021-01-22
Enter second date (YYYY-MM-DD): 2023-01-22
Number of days between the two dates: 730

In [4]:
from datetime import datetime

now = datetime.now()
print("Current date and time:", now)
print("Year:", now.year)
print("Month:", now.month)
print("Day:", now.day)

date_str = "2024-09-21"
date_obj = datetime.strptime(date_str, "%Y-%m-%d")
print("Parsed Date:", date_obj)

Current date and time: 2026-02-03 11:45:28.981898
Year: 2026
Month: 2
Day: 3
Parsed Date: 2024-09-21 00:00:00

In [5]:
import pandas as pd

data = {
    'Name': ['Ali', 'Sana', 'Hamza'],
    'Age': [21, 25, 23],
    'Enrolled': [True, False, True],
    'Join_Date': ['2023-09-01', '2022-12-10', '2024-01-05']
}
df = pd.DataFrame(data)
print(df)
print(df.dtypes)

    Name  Age  Enrolled   Join_Date
0    Ali   21      True  2023-09-01
1   Sana   25     False  2022-12-10
2  Hamza   23      True  2024-01-05
Name         object
Age           int64
Enrolled       bool
Join_Date    object
dtype: object