IRIS DataSet


Task 1: Import and Explore Data

In [3]:
import numpy  as np
import pandas as pd
import seaborn as sns
iris = sns.load_dataset("iris")

# Display top 5 rows
iris.head()

# Display bottom 5 rows
iris.tail()

# Show column info
iris.info()

# Show statistical summary
iris.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Task 2: Sorting and Filtering

In [7]:
iris.sort_values(by="petal_length", ascending=True)
iris[iris["sepal_width"] > 3.5]
iris.query("species == 'setosa'")

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

âœ… Task 3: Slicing and Transposing

In [13]:
iris_subset = iris.loc[:9, ["sepal_length", "species"]]
iris.T
dummy = pd.DataFrame({
    "sepal_length": [5.1, 4.9, 5.0, 5.5, 6.0],
    "sepal_width": [3.5, 3.0, 3.3, 3.8, 2.9],
    "petal_length": [1.4, 1.6, 1.5, 1.2, 4.5],
    "petal_width": [0.2, 0.4, 0.3, 0.2, 1.5],
    "species": ["setosa"]*5
})

iris_appended = pd.concat([iris, dummy], ignore_index=True)
iris_truncated = iris_appended.head(100)
print(iris_truncated)

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          3.5           1.4          0.2      setosa
1            4.9          3.0           1.4          0.2      setosa
2            4.7          3.2           1.3          0.2      setosa
3            4.6          3.1           1.5          0.2      setosa
4            5.0          3.6           1.4          0.2      setosa
..           ...          ...           ...          ...         ...
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

[100 rows x 5 columns]

ðŸŸ¢ DATASET 2 â€” TIPS DATASET

In [14]:
tips = sns.load_dataset("tips")

tips.shape      # Rows & columns
tips.info()
tips.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [17]:
tips.sort_values("total_bill", ascending=False)
tips[tips["tip"] > 5]
tips.sort_values(["day", "time"])

     total_bill   tip     sex smoker   day    time  size
77        27.20  4.00    Male     No  Thur   Lunch     4
78        22.76  3.00    Male     No  Thur   Lunch     2
79        17.29  2.71    Male     No  Thur   Lunch     2
80        19.44  3.00    Male    Yes  Thur   Lunch     2
81        16.66  3.40    Male     No  Thur   Lunch     2
..          ...   ...     ...    ...   ...     ...   ...
186       20.90  3.50  Female    Yes   Sun  Dinner     3
187       30.46  2.00    Male    Yes   Sun  Dinner     5
188       18.15  3.50  Female    Yes   Sun  Dinner     3
189       23.10  4.00    Male    Yes   Sun  Dinner     3
190       15.69  1.50    Male    Yes   Sun  Dinner     2

[244 rows x 7 columns]

In [19]:
slice_tips = tips.loc[:14, ["total_bill", "tip", "sex"]]
slice_tips.T #transposing

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
total_bill,16.99,10.34,21.01,23.68,24.59,25.29,8.77,26.88,15.04,14.78,10.27,35.26,15.42,18.43,14.83
tip,1.01,1.66,3.5,3.31,3.61,4.71,2.0,3.12,1.96,3.23,1.71,5.0,1.57,3.0,3.02
sex,Female,Male,Male,Male,Female,Male,Male,Male,Male,Male,Male,Female,Male,Male,Female

In [23]:
dummy2 = pd.DataFrame({
    "total_bill": [40, 55],
    "tip": [8, 10],
    "sex": ["Male", "Female"],
    "smoker": ["No", "No"],
    "day": ["Sun", "Sat"],
    "time": ["Dinner", "Dinner"],
    "size": [3, 4]
})

tips_new = pd.concat([tips, dummy2], ignore_index=True)
tips_truncated = tips_new.head(200)
print(tips_truncated)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
195        7.56  1.44    Male     No  Thur   Lunch     2
196       10.34  2.00    Male    Yes  Thur   Lunch     2
197       43.11  5.00  Female    Yes  Thur   Lunch     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
199       13.51  2.00    Male    Yes  Thur   Lunch     2

[200 rows x 7 columns]

ðŸŸ¢ DATASET 3 â€” FLIGHTS DATASET

In [24]:
flights = sns.load_dataset("flights")

flights.head()
flights.info()
flights.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    category
 2   passengers  144 non-null    int64
dtypes: category(1), int64(2)
memory usage: 2.9 KB

              year  passengers
count   144.000000  144.000000
mean   1954.500000  280.298611
std       3.464102  119.966317
min    1949.000000  104.000000
25%    1951.750000  180.000000
50%    1954.500000  265.500000
75%    1957.250000  360.500000
max    1960.000000  622.000000

In [25]:
#Sorting & Filtering
flights.sort_values("passengers", ascending=False)

     year month  passengers
138  1960   Jul         622
139  1960   Aug         606
127  1959   Aug         559
126  1959   Jul         548
137  1960   Jun         535
..    ...   ...         ...
11   1949   Dec         118
12   1950   Jan         115
22   1950   Nov         114
0    1949   Jan         112
10   1949   Nov         104

[144 rows x 3 columns]

In [26]:
#Slicing & Transposing
slice_flights = flights.loc[:9, ["year", "month", "passengers"]]
slice_flights.T

               0     1     2     3     4     5     6     7     8     9
year        1949  1949  1949  1949  1949  1949  1949  1949  1949  1949
month        Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct
passengers   112   118   132   129   121   135   148   148   136   119

Task 4: Appending & Truncating

In [30]:
dummy3 = pd.DataFrame({
    "year": [1961],
    "month": ["January"],
    "passengers": [300]
})

flights_appended = pd.concat([flights, dummy3], ignore_index=True)
flights_truncated = flights_appended.head(120)
print(flights_truncated)

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
115  1958   Aug         505
116  1958   Sep         404
117  1958   Oct         359
118  1958   Nov         310
119  1958   Dec         337

[120 rows x 3 columns]