TASK #1

In [7]:
import pandas as pd
import numpy as np


netflix_df = pd.read_csv("netflix_sample.csv")
print(netflix_df.head(4))
print(netflix_df.columns)

  show_id    title    director  release_year rating
0      s1  Movie A  Director X          2020     PG
1      s2  Movie B         NaN          2019      R
2      s3   Show C  Director Y          2021  TV-14
3      s4   Show D  Director Z          2018     PG
Index(['show_id', 'title', 'director', 'release_year', 'rating'], dtype='object')

Task #2

In [5]:
superstore_df = pd.read_csv("superstore_sample.csv")
print(superstore_df.columns)

Index(['order_id', 'region', 'sales', 'profit'], dtype='object')

TASK #3

In [9]:
spotify_df = pd.read_csv("spotify_sample.csv")
print(spotify_df.head(1))

     song    artist  popularity
0  Song A  Artist 1          85

TASK#4

In [14]:
netflix_df = pd.read_csv("netflix_sample.csv")
print(netflix_df.head())


print(netflix_df.isnull().sum())         # Show missing values
netflix_df = netflix_df.dropna(subset=["director"])   # Remove null directors
print(netflix_df.head())

  show_id    title    director  release_year rating
0      s1  Movie A  Director X          2020     PG
1      s2  Movie B         NaN          2019      R
2      s3   Show C  Director Y          2021  TV-14
3      s4   Show D  Director Z          2018     PG
4      s5  Movie E         NaN          2022  TV-MA
show_id         0
title           0
director        2
release_year    0
rating          0
dtype: int64
  show_id    title    director  release_year rating
0      s1  Movie A  Director X          2020     PG
2      s3   Show C  Director Y          2021  TV-14
3      s4   Show D  Director Z          2018     PG

TASK#5

In [18]:
population_df = pd.read_csv("world_population_sample.csv")

print(population_df.head());

#population_df["population"] = pd.to_numeric(population_df["population"], errors="coerce")

avg_population = population_df["population"].mean()

print("Average population:", avg_population)

    country  population  year
0  Pakistan   241000000  2023
1     India  1420000000  2023
2       USA   331000000  2023
3        UK    67000000  2023
4   Germany    83000000  2023
Average population: 428400000.0

TASK #6

In [19]:
filtered_superstore = superstore_df[superstore_df["profit"] > 50]
print(filtered_superstore)

   order_id   region  sales  profit
1       102     West    700     120
3       104     East    900     200
4       105  Central    650      80

TASK #7

In [20]:
def check_popularity(pop):
    if pop > 70:
        return "High"
    elif pop >= 40:
        return "Medium"
    else:
        return "Low"

spotify_df["popularity_level"] = spotify_df["popularity"].apply(check_popularity)
print(spotify_df.head())

     song    artist  popularity popularity_level
0  Song A  Artist 1          85             High
1  Song B  Artist 2          60           Medium
2  Song C  Artist 3          45           Medium
3  Song D  Artist 4          90             High
4  Song E  Artist 5          70           Medium

TASK #8

In [21]:
retail_df = pd.read_csv("online_retail_sample.csv")

sorted_retail = retail_df.sort_values("purchase_amount", ascending=False)
print(sorted_retail.head(10))

   customer_id  purchase_amount purchase_date
2            3              300    2024-01-05
4            5              220    2024-01-09
0            1              120    2024-01-01
1            2               75    2024-01-03
3            4               50    2024-01-07

TASK#9

In [22]:
region_sales = superstore_df.groupby("region")["sales"].sum().reset_index()
print(region_sales)

    region  sales
0  Central    650
1     East   1400
2    South    300
3     West    700

TASK#10

In [27]:
netflix_df.to_csv("Cleaned_Netflix.csv", index=False)
print("Cleaned_Netflix.csv exported!")

cleaned_Netflix_df= pd.read_csv("Cleaned_Netflix.csv");
print(cleaned_Netflix_df.csv.head());

Cleaned_Netflix.csv exported!

AttributeError: 'DataFrame' object has no attribute 'csv'

TASK#11

In [28]:
filtered_superstore.to_excel("Filtered_Superstore.xlsx", index=False)
print("Filtered_Superstore.xlsx created!")

Filtered_Superstore.xlsx created!

TASK #12

In [29]:
population_df.to_json("Population.json", orient="records", indent=4)
print("Population.json created!")

Population.json created!

task# 13

In [30]:
import xml.etree.ElementTree as ET

root = ET.Element("spotify")

for _, row in spotify_df.iterrows():
    song = ET.SubElement(root, "song")

    for col in spotify_df.columns:
        child = ET.SubElement(song, col)
        child.text = str(row[col])

tree = ET.ElementTree(root)
tree.write("spotify_data.xml")

print("spotify_data.xml created!")

spotify_data.xml created!

task #13

In [31]:
# EXTRACT
df = pd.read_csv("online_retail_sample.csv")

# TRANSFORM
df = df.dropna()                   # remove missing values
df["total"] = df["price"] * df["quantity"]   # example calculation

# LOAD
df.to_excel("Retail_ETL_Output.xlsx", index=False)

print("ETL completed & saved as Retail_ETL_Output.xlsx!")

KeyError: 'price'