Task #1

In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Task #2

In [3]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Task # 3

In [4]:
feedback = ['Great service!', 'Average experience', 'Very poor quality']
for review in feedback:
    print(review)

Great service!
Average experience
Very poor quality

Task # 4

In [6]:

data2 = {
    'Customer': ['Ali', 'Sara', 'John'],
    'Rating': [5, 3, 1],
    'Review': ['Excellent!', 'Okay', 'Bad']
}
df = pd.DataFrame(data2)
print(df)

  Customer  Rating      Review
0      Ali       5  Excellent!
1     Sara       3        Okay
2     John       1         Bad

Task # 5

In [7]:
print('Shape:', df.shape)
print('Column Names:', df.columns)
print('Data Types:', df.dtypes)

Shape: (3, 3)
Column Names: Index(['Customer', 'Rating', 'Review'], dtype='object')
Data Types: Customer    object
Rating       int64
Review      object
dtype: object

Task #6

In [8]:
import json
data_json = '{"student": "Ali", "age": 22, "courses": ["Math", "AI"]}'
parsed = json.loads(data_json)
print(parsed)

{'student': 'Ali', 'age': 22, 'courses': ['Math', 'AI']}

Task #7

In [9]:
import os
os.listdir('.')

['.config', 'sample_data']

Task #7

In [13]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [20]:
import pandas as pd

data = {
    "Name": ["Ali", "Sara", "John"," " ],
    "Age": [23, 21, 25, 22],
    "City": ["Lahore", "Karachi", "Islamabad", "Lahore"],
    "GPA": [3.2, 3.8, 3.5, 3.9]
}

df = pd.DataFrame(data)
df.dtypes

Name     object
Age       int64
City     object
GPA     float64
dtype: object