TASK #1

In [1]:
import pandas as pd

# Create the dataset
data = {
    "Order_ID": [1001,1002,1003,1004,1005,1006,1007,1008,1009,1010],
    "Customer_Name": ["  Ali Khan  ", "Amna Raza", " John  Doe ", "Sara Ali", "Ali Khan", "", "Hadi ", "Mehak   Noor", "Sameer Khan", "Ahsan Ali"],
    "Email": ["ali.khan@example.com", "amna.raza@example", "john.doe@example.com", "sara.ali@example.com", "ali.khan@example.com", "missing@example.com", "hadi123@example.com", "mehak.noor@example.com", "sameer.khan@gmail.com", "ahsan.example.com"],
    "City": ["lahore", "Karachi", "LAHORE", "Islamabad", "lahore", "karachi", "Quetta", "ISLAMABAD", "Peshawar", "Lahore"],
    "Product_Name": [" Laptop@@", "Mobile##", " Headphones**", " Charger**", "Laptop@@", "Mobile##", " USB Cable!!", "Mouse$$", "Keyboard%%", "Laptop@@"],
    "Sales": [55000, 45000, 8000, 1500, 55000, None, 900, 1200, 2000, 60000],
    "Region": ["South","South","South","North","South","South","West","North","North","South"]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv("sales_data.csv", index=False)

print("sales_data.csv has been created successfully!")

sales_data.csv has been created successfully!

In [4]:
import pandas as pd
df = pd.read_csv('sales_data.csv')
print(df.isnull().sum())

Order_ID         0
Customer_Name    1
Email            0
City             0
Product_Name     0
Sales            1
Region           0
dtype: int64

TASK #2

In [8]:
clean_df = df.dropna()
print(df)

   Order_ID Customer_Name                   Email       City   Product_Name  \
0      1001    Ali Khan      ali.khan@example.com     lahore       Laptop@@
1      1002     Amna Raza       amna.raza@example    Karachi       Mobile##
2      1003    John  Doe     john.doe@example.com     LAHORE   Headphones**
3      1004      Sara Ali    sara.ali@example.com  Islamabad      Charger**
4      1005      Ali Khan    ali.khan@example.com     lahore       Laptop@@
5      1006           NaN     missing@example.com    karachi       Mobile##
6      1007         Hadi      hadi123@example.com     Quetta    USB Cable!!
7      1008  Mehak   Noor  mehak.noor@example.com  ISLAMABAD        Mouse$$
8      1009   Sameer Khan   sameer.khan@gmail.com   Peshawar     Keyboard%%
9      1010     Ahsan Ali       ahsan.example.com     Lahore       Laptop@@

     Sales Region
0  55000.0  South
1  45000.0  South
2   8000.0  South
3   1500.0  North
4  55000.0  South
5      NaN  South
6    900.0   West
7   1200.0  North
8   2000.0  North
9  60000.0  South

TASK #3

In [10]:
df['Sales'].fillna(df['Sales'].mean(), inplace=True)
print(df)

   Order_ID Customer_Name                   Email       City   Product_Name  \
0      1001    Ali Khan      ali.khan@example.com     lahore       Laptop@@
1      1002     Amna Raza       amna.raza@example    Karachi       Mobile##
2      1003    John  Doe     john.doe@example.com     LAHORE   Headphones**
3      1004      Sara Ali    sara.ali@example.com  Islamabad      Charger**
4      1005      Ali Khan    ali.khan@example.com     lahore       Laptop@@
5      1006           NaN     missing@example.com    karachi       Mobile##
6      1007         Hadi      hadi123@example.com     Quetta    USB Cable!!
7      1008  Mehak   Noor  mehak.noor@example.com  ISLAMABAD        Mouse$$
8      1009   Sameer Khan   sameer.khan@gmail.com   Peshawar     Keyboard%%
9      1010     Ahsan Ali       ahsan.example.com     Lahore       Laptop@@

     Sales Region
0  55000.0  South
1  45000.0  South
2   8000.0  South
3   1500.0  North
4  55000.0  South
5  25400.0  South
6    900.0   West
7   1200.0  North
8   2000.0  North
9  60000.0  South

/tmp/ipython-input-1426438355.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sales'].fillna(df['Sales'].mean(), inplace=True)

TASK#4

In [11]:
duplicates = df.duplicated().sum()
df.drop_duplicates(inplace=True)
print(df)

   Order_ID Customer_Name                   Email       City   Product_Name  \
0      1001    Ali Khan      ali.khan@example.com     lahore       Laptop@@
1      1002     Amna Raza       amna.raza@example    Karachi       Mobile##
2      1003    John  Doe     john.doe@example.com     LAHORE   Headphones**
3      1004      Sara Ali    sara.ali@example.com  Islamabad      Charger**
4      1005      Ali Khan    ali.khan@example.com     lahore       Laptop@@
5      1006           NaN     missing@example.com    karachi       Mobile##
6      1007         Hadi      hadi123@example.com     Quetta    USB Cable!!
7      1008  Mehak   Noor  mehak.noor@example.com  ISLAMABAD        Mouse$$
8      1009   Sameer Khan   sameer.khan@gmail.com   Peshawar     Keyboard%%
9      1010     Ahsan Ali       ahsan.example.com     Lahore       Laptop@@

     Sales Region
0  55000.0  South
1  45000.0  South
2   8000.0  South
3   1500.0  North
4  55000.0  South
5  25400.0  South
6    900.0   West
7   1200.0  North
8   2000.0  North
9  60000.0  South

TASK #5

In [13]:
df['Customer_Name'] = df['Customer_Name'].str.strip()
print(df)

   Order_ID Customer_Name                   Email       City   Product_Name  \
0      1001      Ali Khan    ali.khan@example.com     lahore       Laptop@@
1      1002     Amna Raza       amna.raza@example    Karachi       Mobile##
2      1003     John  Doe    john.doe@example.com     LAHORE   Headphones**
3      1004      Sara Ali    sara.ali@example.com  Islamabad      Charger**
4      1005      Ali Khan    ali.khan@example.com     lahore       Laptop@@
5      1006           NaN     missing@example.com    karachi       Mobile##
6      1007          Hadi     hadi123@example.com     Quetta    USB Cable!!
7      1008  Mehak   Noor  mehak.noor@example.com  ISLAMABAD        Mouse$$
8      1009   Sameer Khan   sameer.khan@gmail.com   Peshawar     Keyboard%%
9      1010     Ahsan Ali       ahsan.example.com     Lahore       Laptop@@

     Sales Region
0  55000.0  South
1  45000.0  South
2   8000.0  South
3   1500.0  North
4  55000.0  South
5  25400.0  South
6    900.0   West
7   1200.0  North
8   2000.0  North
9  60000.0  South

TASK#6

In [14]:
df['City'] = df['City'].str.title()
print(df)

   Order_ID Customer_Name                   Email       City   Product_Name  \
0      1001      Ali Khan    ali.khan@example.com     Lahore       Laptop@@
1      1002     Amna Raza       amna.raza@example    Karachi       Mobile##
2      1003     John  Doe    john.doe@example.com     Lahore   Headphones**
3      1004      Sara Ali    sara.ali@example.com  Islamabad      Charger**
4      1005      Ali Khan    ali.khan@example.com     Lahore       Laptop@@
5      1006           NaN     missing@example.com    Karachi       Mobile##
6      1007          Hadi     hadi123@example.com     Quetta    USB Cable!!
7      1008  Mehak   Noor  mehak.noor@example.com  Islamabad        Mouse$$
8      1009   Sameer Khan   sameer.khan@gmail.com   Peshawar     Keyboard%%
9      1010     Ahsan Ali       ahsan.example.com     Lahore       Laptop@@

     Sales Region
0  55000.0  South
1  45000.0  South
2   8000.0  South
3   1500.0  North
4  55000.0  South
5  25400.0  South
6    900.0   West
7   1200.0  North
8   2000.0  North
9  60000.0  South

In [15]:
df['City'] = df['City'].str.title()
print(df)

   Order_ID Customer_Name                   Email       City   Product_Name  \
0      1001      Ali Khan    ali.khan@example.com     Lahore       Laptop@@
1      1002     Amna Raza       amna.raza@example    Karachi       Mobile##
2      1003     John  Doe    john.doe@example.com     Lahore   Headphones**
3      1004      Sara Ali    sara.ali@example.com  Islamabad      Charger**
4      1005      Ali Khan    ali.khan@example.com     Lahore       Laptop@@
5      1006           NaN     missing@example.com    Karachi       Mobile##
6      1007          Hadi     hadi123@example.com     Quetta    USB Cable!!
7      1008  Mehak   Noor  mehak.noor@example.com  Islamabad        Mouse$$
8      1009   Sameer Khan   sameer.khan@gmail.com   Peshawar     Keyboard%%
9      1010     Ahsan Ali       ahsan.example.com     Lahore       Laptop@@

     Sales Region
0  55000.0  South
1  45000.0  South
2   8000.0  South
3   1500.0  North
4  55000.0  South
5  25400.0  South
6    900.0   West
7   1200.0  North
8   2000.0  North
9  60000.0  South

Task #7

In [16]:
df['Product_Name'] = df['Product_Name'].str.replace('[^A-Za-z0-9 ]+', '', regex=True)
print(df)

   Order_ID Customer_Name                   Email       City Product_Name  \
0      1001      Ali Khan    ali.khan@example.com     Lahore       Laptop
1      1002     Amna Raza       amna.raza@example    Karachi       Mobile
2      1003     John  Doe    john.doe@example.com     Lahore   Headphones
3      1004      Sara Ali    sara.ali@example.com  Islamabad      Charger
4      1005      Ali Khan    ali.khan@example.com     Lahore       Laptop
5      1006           NaN     missing@example.com    Karachi       Mobile
6      1007          Hadi     hadi123@example.com     Quetta    USB Cable
7      1008  Mehak   Noor  mehak.noor@example.com  Islamabad        Mouse
8      1009   Sameer Khan   sameer.khan@gmail.com   Peshawar     Keyboard
9      1010     Ahsan Ali       ahsan.example.com     Lahore       Laptop

     Sales Region
0  55000.0  South
1  45000.0  South
2   8000.0  South
3   1500.0  North
4  55000.0  South
5  25400.0  South
6    900.0   West
7   1200.0  North
8   2000.0  North
9  60000.0  South

TASK#8

In [18]:
df['Sales'] = pd.to_numeric(df['Sales'], errors='coerce')
print(df)

   Order_ID Customer_Name                   Email       City Product_Name  \
0      1001      Ali Khan    ali.khan@example.com     Lahore       Laptop
1      1002     Amna Raza       amna.raza@example    Karachi       Mobile
2      1003     John  Doe    john.doe@example.com     Lahore   Headphones
3      1004      Sara Ali    sara.ali@example.com  Islamabad      Charger
4      1005      Ali Khan    ali.khan@example.com     Lahore       Laptop
5      1006           NaN     missing@example.com    Karachi       Mobile
6      1007          Hadi     hadi123@example.com     Quetta    USB Cable
7      1008  Mehak   Noor  mehak.noor@example.com  Islamabad        Mouse
8      1009   Sameer Khan   sameer.khan@gmail.com   Peshawar     Keyboard
9      1010     Ahsan Ali       ahsan.example.com     Lahore       Laptop

     Sales Region
0  55000.0  South
1  45000.0  South
2   8000.0  South
3   1500.0  North
4  55000.0  South
5  25400.0  South
6    900.0   West
7   1200.0  North
8   2000.0  North
9  60000.0  South

TASK#9

In [19]:
Q1 = df['Sales'].quantile(0.25)
Q3 = df['Sales'].quantile(0.75)
IQR = Q3 - Q1
df.loc[(df['Sales'] < Q1 - 1.5*IQR) | (df['Sales'] > Q3 + 1.5*IQR), 'Sales'] = df['Sales'].median()
print(df)

   Order_ID Customer_Name                   Email       City Product_Name  \
0      1001      Ali Khan    ali.khan@example.com     Lahore       Laptop
1      1002     Amna Raza       amna.raza@example    Karachi       Mobile
2      1003     John  Doe    john.doe@example.com     Lahore   Headphones
3      1004      Sara Ali    sara.ali@example.com  Islamabad      Charger
4      1005      Ali Khan    ali.khan@example.com     Lahore       Laptop
5      1006           NaN     missing@example.com    Karachi       Mobile
6      1007          Hadi     hadi123@example.com     Quetta    USB Cable
7      1008  Mehak   Noor  mehak.noor@example.com  Islamabad        Mouse
8      1009   Sameer Khan   sameer.khan@gmail.com   Peshawar     Keyboard
9      1010     Ahsan Ali       ahsan.example.com     Lahore       Laptop

     Sales Region
0  55000.0  South
1  45000.0  South
2   8000.0  South
3   1500.0  North
4  55000.0  South
5  25400.0  South
6    900.0   West
7   1200.0  North
8   2000.0  North
9  60000.0  South

TASK#11

In [21]:
import re
df = df[df['Email'].str.contains(r'^[\w\.-]+@[\w\.-]+\.\w+$', na=False)]
print(df)

   Order_ID Customer_Name                   Email       City Product_Name  \
0      1001      Ali Khan    ali.khan@example.com     Lahore       Laptop
2      1003     John  Doe    john.doe@example.com     Lahore   Headphones
3      1004      Sara Ali    sara.ali@example.com  Islamabad      Charger
4      1005      Ali Khan    ali.khan@example.com     Lahore       Laptop
5      1006           NaN     missing@example.com    Karachi       Mobile
6      1007          Hadi     hadi123@example.com     Quetta    USB Cable
7      1008  Mehak   Noor  mehak.noor@example.com  Islamabad        Mouse
8      1009   Sameer Khan   sameer.khan@gmail.com   Peshawar     Keyboard

     Sales Region
0  55000.0  South
2   8000.0  South
3   1500.0  North
4  55000.0  South
5  25400.0  South
6    900.0   West
7   1200.0  North
8   2000.0  North

task#10

In [22]:
import pandas as pd

# Create the dataset
data = {
    "Order_ID": [1001,1002,1003,1004,1005,1006,1007,1008,1009,1010],
    "Customer_Name": ["  Ali Khan  ", "Amna Raza", " John  Doe ", "Sara Ali", "Ali Khan", "", "Hadi ", "Mehak   Noor", "Sameer Khan", "Ahsan Ali"],
    "Email": ["ali.khan@example.com", "amna.raza@example", "john.doe@example.com", "sara.ali@example.com", "ali.khan@example.com", "missing@example.com", "hadi123@example.com", "mehak.noor@example.com", "sameer.khan@gmail.com", "ahsan.example.com"],
    "City": ["lahore", "Karachi", "LAHORE", "Islamabad", "lahore", "karachi", "Quetta", "ISLAMABAD", "Peshawar", "Lahore"],
    "Product_Name": [" Laptop@@", "Mobile##", " Headphones**", " Charger**", "Laptop@@", "Mobile##", " USB Cable!!", "Mouse$$", "Keyboard%%", "Laptop@@"],
    "Sales": [55000, 45000, 8000, 1500, 55000, None, 900, 1200, 2000, 60000],
    "Region": ["South","South","South","North","South","South","West","North","North","South"]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv("sales_data2.csv", index=False)

print("sales_data.csv has been created successfully!")

sales_data.csv has been created successfully!