TASK #1

##2: Python Exercises with Pandas

Setting up and Load Data

In [1]:
import pandas as pd
import numpy as np

# Load the sales dataset
df = pd.read_excel("sales_data.xlsx")

# Display first few rows
print(df.head())

# Display basic information
print(df.info())
print(df.describe())

   Order_ID       Date   Product Region  Quantity  Unit_Price  Customer_ID  \
0      1001 2024-01-01   Scanner   East        11         778         5033
1      1002 2024-01-02  Keyboard   West        17        1350         5001
2      1003 2024-01-03     Mouse   East         8        1070         5018
3      1004 2024-01-04   Scanner  North         4         810         5032
4      1005 2024-01-05   Monitor   West         6         725         5047

   Total_Sales
0         8558
1        22950
2         8560
3         3240
4         4350
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order_ID     200 non-null    int64
 1   Date         200 non-null    datetime64[ns]
 2   Product      200 non-null    object
 3   Region       200 non-null    object
 4   Quantity     200 non-null    int64
 5   Unit_Price   200 non-null    int64
 6   Customer_ID  200 non-null    int64
 7   Total_Sales  200 non-null    int64
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 12.6+ KB
None
          Order_ID                 Date    Quantity   Unit_Price  Customer_ID  \
count   200.000000                  200  200.000000   200.000000    200.00000
mean   1100.500000  2024-04-09 12:00:00    9.570000   872.735000   5024.56000
min    1001.000000  2024-01-01 00:00:00    1.000000    59.000000   5001.00000
25%    1050.750000  2024-02-19 18:00:00    4.000000   547.000000   5013.75000
50%    1100.500000  2024-04-09 12:00:00   10.000000   925.500000   5025.00000
75%    1150.250000  2024-05-29 06:00:00   15.000000  1236.500000   5035.25000
max    1200.000000  2024-07-18 00:00:00   19.000000  1495.000000   5049.00000
std      57.879185                  NaN    5.925424   410.630273     14.17147

       Total_Sales
count    200.00000
mean    8493.36000
min       90.00000
25%     2334.25000
50%     6654.00000
75%    13488.75000
max    27246.00000
std     7195.76205

Sorting Data

In [2]:
# Sort by Total Sales (descending)
df_sorted = df.sort_values(by="Total_Sales", ascending=False)
print("Top 5 sales:\n", df_sorted.head())

# Sort by multiple columns: Region, then Total Sales
df_multi_sort = df.sort_values(by=["Region", "Total_Sales"],
                                ascending=[True, False])
print("\nSorted by Region and Sales:\n", df_multi_sort.head(10))

# Reset index after sorting
df_sorted_reset = df_sorted.reset_index(drop=True)
print("\nReset index:\n", df_sorted_reset.head())

Top 5 sales:
      Order_ID       Date  Product Region  Quantity  Unit_Price  Customer_ID  \
116      1117 2024-04-26   Laptop   East        19        1434         5004
89       1090 2024-03-30  Desktop   West        19        1415         5005
170      1171 2024-06-19   Tablet   West        19        1389         5045
166      1167 2024-06-15   Tablet  South        18        1421         5023
86       1087 2024-03-27  Printer  North        16        1495         5030

     Total_Sales
116        27246
89         26885
170        26391
166        25578
86         23920

Sorted by Region and Sales:
      Order_ID       Date   Product Region  Quantity  Unit_Price  Customer_ID  \
116      1117 2024-04-26    Laptop   East        19        1434         5004
59       1060 2024-02-29     Mouse   East        18        1296         5005
41       1042 2024-02-11   Scanner   East        16        1440         5045
146      1147 2024-05-26   Monitor   East        16        1378         5026
145      1146 2024-05-25   Scanner   East        16        1306         5009
97       1098 2024-04-07  Keyboard   East        15        1325         5024
11       1012 2024-01-12   Scanner   East        18        1027         5027
69       1070 2024-03-10   Printer   East        17        1082         5014
164      1165 2024-06-13   Desktop   East        17        1081         5026
142      1143 2024-05-22  Keyboard   East        14        1300         5026

     Total_Sales
116        27246
59         23328
41         23040
146        22048
145        20896
97         19875
11         18486
69         18394
164        18377
142        18200

Reset index:
    Order_ID       Date  Product Region  Quantity  Unit_Price  Customer_ID  \
0      1117 2024-04-26   Laptop   East        19        1434         5004
1      1090 2024-03-30  Desktop   West        19        1415         5005
2      1171 2024-06-19   Tablet   West        19        1389         5045
3      1167 2024-06-15   Tablet  South        18        1421         5023
4      1087 2024-03-27  Printer  North        16        1495         5030

   Total_Sales
0        27246
1        26885
2        26391
3        25578
4        23920

Filtering Data

In [3]:
# Filter for sales greater than 5000
high_sales = df[df["Total_Sales"] > 5000]
print(f"High sales records: {len(high_sales)}\n", high_sales.head())

# Filter for specific region
east_region = df[df["Region"] == "East"]
print(f"\nEast region records: {len(east_region)}\n", east_region.head())

# Multiple conditions using & (and) or | (or)
filtered = df[(df["Region"] == "East") & (df["Total_Sales"] > 3000)]
print(f"\nEast region with sales > 3000: {len(filtered)}\n", filtered)

# Using isin() for multiple values
regions_filter = df[df["Region"].isin(["East", "West"])]
print(f"\nEast or West regions: {len(regions_filter)}")

High sales records: 111
    Order_ID       Date   Product Region  Quantity  Unit_Price  Customer_ID  \
0      1001 2024-01-01   Scanner   East        11         778         5033
1      1002 2024-01-02  Keyboard   West        17        1350         5001
2      1003 2024-01-03     Mouse   East         8        1070         5018
5      1006 2024-01-06    Tablet  North         8        1467         5049
7      1008 2024-01-08     Mouse   West        16         969         5021

   Total_Sales
0         8558
1        22950
2         8560
5        11736
7        15504

East region records: 50
     Order_ID       Date  Product Region  Quantity  Unit_Price  Customer_ID  \
0       1001 2024-01-01  Scanner   East        11         778         5033
2       1003 2024-01-03    Mouse   East         8        1070         5018
10      1011 2024-01-11  Monitor   East        14        1172         5022
11      1012 2024-01-12  Scanner   East        18        1027         5027
13      1014 2024-01-14  Monitor   East         3         145         5013

    Total_Sales
0          8558
2          8560
10        16408
11        18486
13          435

East region with sales > 3000: 37
      Order_ID       Date   Product Region  Quantity  Unit_Price  Customer_ID  \
0        1001 2024-01-01   Scanner   East        11         778         5033
2        1003 2024-01-03     Mouse   East         8        1070         5018
10       1011 2024-01-11   Monitor   East        14        1172         5022
11       1012 2024-01-12   Scanner   East        18        1027         5027
14       1015 2024-01-15    Tablet   East        16         712         5033
20       1021 2024-01-21   Printer   East        14         916         5048
21       1022 2024-01-22     Mouse   East        16         922         5006
38       1039 2024-02-08    Laptop   East        15         784         5009
41       1042 2024-02-11   Scanner   East        16        1440         5045
44       1045 2024-02-14  Keyboard   East         3        1142         5001
49       1050 2024-02-19   Printer   East         6         940         5028
55       1056 2024-02-25  Keyboard   East         3        1115         5003
59       1060 2024-02-29     Mouse   East        18        1296         5005
64       1065 2024-03-05   Scanner   East        18         782         5047
69       1070 2024-03-10   Printer   East        17        1082         5014
85       1086 2024-03-26   Monitor   East        14        1238         5015
97       1098 2024-04-07  Keyboard   East        15        1325         5024
111      1112 2024-04-21   Scanner   East         8        1131         5011
113      1114 2024-04-23   Printer   East        13         505         5008
114      1115 2024-04-24   Scanner   East        18         878         5004
116      1117 2024-04-26    Laptop   East        19        1434         5004
118      1119 2024-04-28    Tablet   East        19         436         5003
126      1127 2024-05-06   Desktop   East        16         978         5005
127      1128 2024-05-07    Laptop   East         8         983         5018
137      1138 2024-05-17    Laptop   East         5         935         5026
140      1141 2024-05-20    Tablet   East        15         813         5049
142      1143 2024-05-22  Keyboard   East        14        1300         5026
145      1146 2024-05-25   Scanner   East        16        1306         5009
146      1147 2024-05-26   Monitor   East        16        1378         5026
155      1156 2024-06-04   Desktop   East        10        1403         5036
159      1160 2024-06-08  Keyboard   East        13         407         5035
164      1165 2024-06-13   Desktop   East        17        1081         5026
165      1166 2024-06-14    Laptop   East        12        1195         5028
186      1187 2024-07-05   Desktop   East        18         958         5037
187      1188 2024-07-06   Scanner   East         3        1326         5028
190      1191 2024-07-09   Scanner   East        10         305         5017
194      1195 2024-07-13   Scanner   East         7         873         5044

     Total_Sales
0           8558
2           8560
10         16408
11         18486
14         11392
20         12824
21         14752
38         11760
41         23040
44          3426
49          5640
55          3345
59         23328
64         14076
69         18394
85         17332
97         19875
111         9048
113         6565
114        15804
116        27246
118         8284
126        15648
127         7864
137         4675
140        12195
142        18200
145        20896
146        22048
155        14030
159         5291
164        18377
165        14340
186        17244
187         3978
190         3050
194         6111

East or West regions: 111

Slicing Data

In [4]:
# Slice rows by position (first 10 rows)
first_10 = df.iloc[:10]
print("First 10 rows:\n", first_10)

# Slice specific columns by name
selected_cols = df[["Product", "Region", "Total_Sales"]]
print("\nSelected columns:\n", selected_cols.head())

# Slice rows and columns together
subset = df.iloc[5:15, [0, 2, 4]]  # rows 5-14, columns 0,2,4
print("\nSubset:\n", subset)

# Using loc for label-based slicing
loc_slice = df.loc[10:20, ["Product", "Total_Sales"]]
print("\nUsing loc:\n", loc_slice)

# Get last N rows
last_5 = df.tail(5)
print("\nLast 5 rows:\n", last_5)

First 10 rows:
    Order_ID       Date   Product Region  Quantity  Unit_Price  Customer_ID  \
0      1001 2024-01-01   Scanner   East        11         778         5033
1      1002 2024-01-02  Keyboard   West        17        1350         5001
2      1003 2024-01-03     Mouse   East         8        1070         5018
3      1004 2024-01-04   Scanner  North         4         810         5032
4      1005 2024-01-05   Monitor   West         6         725         5047
5      1006 2024-01-06    Tablet  North         8        1467         5049
6      1007 2024-01-07     Mouse   West         3         506         5011
7      1008 2024-01-08     Mouse   West        16         969         5021
8      1009 2024-01-09   Scanner  South         3         241         5026
9      1010 2024-01-10   Desktop  North        18         788         5025

   Total_Sales
0         8558
1        22950
2         8560
3         3240
4         4350
5        11736
6         1518
7        15504
8          723
9        14184

Selected columns:
     Product Region  Total_Sales
0   Scanner   East         8558
1  Keyboard   West        22950
2     Mouse   East         8560
3   Scanner  North         3240
4   Monitor   West         4350

Subset:
     Order_ID  Product  Quantity
5       1006   Tablet         8
6       1007    Mouse         3
7       1008    Mouse        16
8       1009  Scanner         3
9       1010  Desktop        18
10      1011  Monitor        14
11      1012  Scanner        18
12      1013  Monitor         2
13      1014  Monitor         3
14      1015   Tablet        16

Using loc:
      Product  Total_Sales
10   Monitor        16408
11   Scanner        18486
12   Monitor         2116
13   Monitor          435
14    Tablet        11392
15     Mouse        11367
16  Keyboard          344
17    Tablet         1442
18    Tablet         1312
19   Monitor          266
20   Printer        12824

Last 5 rows:
      Order_ID       Date   Product Region  Quantity  Unit_Price  Customer_ID  \
195      1196 2024-07-14   Desktop   West         4         847         5025
196      1197 2024-07-15   Desktop   West        18        1315         5017
197      1198 2024-07-16  Keyboard  South        13        1324         5013
198      1199 2024-07-17     Mouse   West        11         926         5020
199      1200 2024-07-18   Monitor  North         4        1078         5025

     Total_Sales
195         3388
196        23670
197        17212
198        10186
199         4312

Transposing Data

In [ ]:
Transposing Data

In [7]:
# Create a summary table
summary = df.groupby("Region")["Total_Sales"].agg([
    ("Total", "sum"),
    ("Average", "mean"),
    ("Count", "count")
])
print("Original summary:\n", summary)
print("After transposing")
# Transpose the summary
transposed = summary.T
print("\nTransposed summary:\n", transposed)

# Practical example: pivot table
pivot = df.pivot_table(values="Total_Sales",
                       index="Product",
                       columns="Region",
                       aggfunc="sum")
print("\nPivot table:\n", pivot)

Original summary:
          Total      Average  Count
Region
East    495969  9919.380000     50
North   440135  8982.346939     49
South   302896  7572.400000     40
West    459672  7535.606557     61
After transposing

Transposed summary:
 Region        East          North     South           West
Total    495969.00  440135.000000  302896.0  459672.000000
Average    9919.38    8982.346939    7572.4    7535.606557
Count        50.00      49.000000      40.0      61.000000

Pivot table:
 Region      East  North  South    West
Product
Desktop    67891  27640  42013   97391
Keyboard   52531  71090  66716   65513
Laptop     65885  58898  11831   57971
Monitor    58005  49048   7445   30279
Mouse      47306  54257  36258  101467
Printer    44170  92328  41638   34557
Scanner   123186  30958  62296   29584
Tablet     36995  55916  34699   42910

Appending or Concating of the file

In [12]:
# Load additional monthly data
df_jan = pd.read_excel("sales_january.xlsx")
df_feb = pd.read_excel("sales_february.xlsx")

# Append datasets (vertical concatenation)
df_combined = pd.concat([df_jan, df_feb], ignore_index=True)
print(f"Combined dataset: {len(df_combined)} rows\n", df_combined.head())

# Append with tracking source
df_jan["Month"] = "January"
df_feb["Month"] = "February"
df_tracked = pd.concat([df_jan, df_feb], ignore_index=True)
print("\nWith month tracking:\n", df_tracked.head())

# Horizontal concatenation (merge/join)
customer_info = pd.read_excel("customer_details.xlsx")
df_merged = pd.merge(df, customer_info, on="Customer_ID", how="left")
print("\nMerged with customer info:\n", df_merged.head())

Combined dataset: 60 rows
    Order_ID       Date   Product Region  Quantity  Unit_Price  Customer_ID  \
0      1001 2024-01-01   Scanner   East        11         778         5033
1      1002 2024-01-02  Keyboard   West        17        1350         5001
2      1003 2024-01-03     Mouse   East         8        1070         5018
3      1004 2024-01-04   Scanner  North         4         810         5032
4      1005 2024-01-05   Monitor   West         6         725         5047

   Total_Sales
0         8558
1        22950
2         8560
3         3240
4         4350

With month tracking:
    Order_ID       Date   Product Region  Quantity  Unit_Price  Customer_ID  \
0      1001 2024-01-01   Scanner   East        11         778         5033
1      1002 2024-01-02  Keyboard   West        17        1350         5001
2      1003 2024-01-03     Mouse   East         8        1070         5018
3      1004 2024-01-04   Scanner  North         4         810         5032
4      1005 2024-01-05   Monitor   West         6         725         5047

   Total_Sales    Month
0         8558  January
1        22950  January
2         8560  January
3         3240  January
4         4350  January

Merged with customer info:
    Order_ID       Date   Product Region  Quantity  Unit_Price  Customer_ID  \
0      1001 2024-01-01   Scanner   East        11         778         5033
1      1002 2024-01-02  Keyboard   West        17        1350         5001
2      1003 2024-01-03     Mouse   East         8        1070         5018
3      1004 2024-01-04   Scanner  North         4         810         5032
4      1005 2024-01-05   Monitor   West         6         725         5047

   Total_Sales  Customer_Name Customer_Tier                   Email
0         8558  Customer_5033       Premium  customer5033@email.com
1        22950  Customer_5001           VIP  customer5001@email.com
2         8560  Customer_5018      Standard  customer5018@email.com
3         3240  Customer_5032      Standard  customer5032@email.com
4         4350  Customer_5047       Premium  customer5047@email.com

Truncating Data

In [17]:
# Keep only top 50 records by sales
top_50 = df.nlargest(50, "Total_Sales")
print(f"Top 50 records:\n", top_50.head())

#print(df)
# Drop specific columns
#df_trimmed = df.drop(columns=["Unnecessary_Column", "Another_Column"])
#print("\nColumns after dropping:\n", df_trimmed.columns.tolist())


# Remove rows with missing values
df_clean = df.dropna()
print(f"\nRows after removing NA: {len(df_clean)}\n")

# Keep only specific date range
df["Date"] = pd.to_datetime(df["Date"])
df_recent = df[df["Date"] >= "2024-06-01"]
print(f"Recent data (after June 1): {len(df_recent)} rows")

Top 50 records:
      Order_ID       Date  Product Region  Quantity  Unit_Price  Customer_ID  \
116      1117 2024-04-26   Laptop   East        19        1434         5004
89       1090 2024-03-30  Desktop   West        19        1415         5005
170      1171 2024-06-19   Tablet   West        19        1389         5045
166      1167 2024-06-15   Tablet  South        18        1421         5023
86       1087 2024-03-27  Printer  North        16        1495         5030

     Total_Sales
116        27246
89         26885
170        26391
166        25578
86         23920

Rows after removing NA: 200

Recent data (after June 1): 48 rows