In [8]:
#Task 1
scores = [88, 92, 79, 93, 85]
print("Scores:", scores)

average = sum(scores) / len(scores)
print("Average Score:", average)

scores.remove(93)
print("Scores:", scores)

Scores: [88, 92, 79, 93, 85]
Average Score: 87.4
Scores: [88, 92, 79, 85]

In [9]:
# Task 2
subjects = ("Math", "Science", "History", "English")
print("Subjects:", subjects)

Subjects: ('Math', 'Science', 'History', 'English')

In [11]:
#Task 3
import pandas as pd


data = {
    "Student": ["Ali", "Sara", "John", "Ayesha"],
    "Math": [88, 92, 79, 93],
    "Science": [90, 85, 88, 95]
}

df = pd.DataFrame(data)
print(df)

df['Science']

  Student  Math  Science
0     Ali    88       90
1    Sara    92       85
2    John    79       88
3  Ayesha    93       95

0    90
1    85
2    88
3    95
Name: Science, dtype: int64

In [12]:
#Task 4
df["Average"] = (df["Math"] + df["Science"]) / 2
df.drop("Math", axis=1, inplace=True)
print(df)

  Student  Science  Average
0     Ali       90     89.0
1    Sara       85     88.5
2    John       88     83.5
3  Ayesha       95     94.0

In [30]:
#Task 5
import pandas as pd


data = {
    "Student": ["Ali", "Sara", "John", "Ayesha"],
    "Math": [88, 92, 79, 93],
    "Science": [90, 85, 88, 95]
}

df = pd.DataFrame(data)
print(df)

df['Science']
df.drop(['Math'], axis=1)
df = df.rename(columns={'Science': 'Science_Marks'})

  Student  Math  Science
0     Ali    88       90
1    Sara    92       85
2    John    79       88
3  Ayesha    93       95

In [28]:
#Task6
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Average": [95, 88, 92, 85]
}

df = pd.DataFrame(data)

high_achievers = df[df["Average"] > 90]

print("Students with Average > 90:")
print(high_achievers)

Students with Average > 90:
      Name  Average
0    Alice       95
2  Charlie       92

In [29]:
#Task 7
import pandas as pd

df = pd.DataFrame({
    "Name": ["Ali", "Sara", "John", "Ayesha"],
    "Average": [95, 88, 92, 85]
})

df2 = pd.DataFrame({
    "Student": ["Ali", "Sara", "John", "Ayesha"],
    "Attendance": [95, 98, 90, 100]
})

merged = pd.merge(df, df2, left_on="Name", right_on="Student")

merged = merged.drop(columns="Student")

print("Combined Table:")
print(merged)

Combined Table:
     Name  Average  Attendance
0     Ali       95          95
1    Sara       88          98
2    John       92          90
3  Ayesha       85         100

In [31]:
#Task 8
import pandas as pd

df = pd.DataFrame({
    "Name": ["Ali", "Sara", "John", "Ayesha"],
    "Average": [95, 88, 92, 85]
})

df2 = pd.DataFrame({
    "Student": ["Ali", "Sara", "John", "Ayesha"],
    "Attendance": [95, 98, 90, 100]
})

merged = pd.merge(df, df2, left_on="Name", right_on="Student").drop(columns="Student")

merged["Final_Score"] = (merged["Average"] * 0.8) + (merged["Attendance"] * 0.2)

print("Combined Table with Final_Score:")
print(merged)

Combined Table with Final_Score:
     Name  Average  Attendance  Final_Score
0     Ali       95          95         95.0
1    Sara       88          98         90.0
2    John       92          90         91.6
3  Ayesha       85         100         88.0